<div class="card">
  <div class="image">
    <img src={{user.avatar}}>
  </div>
  <div class="content">
    {{#if followable}}
      <span class="right floated">
        {{#if user.fav}}
          <a href="/users/unfollow/{{user._id}}">
            <i class="star icon"></i>
          </a>
        {{else}}
          <a href="/users/follow/{{user._id}}">
            <i class="empty star icon"></i>
          </a>
        {{/if}}
      </span>
    {{/if}}
    <a class="header" href="/tweets/{{user._id}}">{{user.firstName}} {{user.lastName}}</a>
    <div class="meta">
      <span class="date">Member since {{user.fcreationDate}}</span>
    </div>
    <div class="meta">
      <i class="comment icon"></i>
      {{user.tweetCount}} Tweets
    </div>
    <div class="meta">
      <span class="right floated">
        Following {{user.followingCount}}
        <i class="user icon"></i>
      </span>
    </div>
    {{#if user.deletable}}
      <br>
      <div class="extra content">
        <a href="/users/delete/{{user._id}}">Delete</a>
      </div>
    {{/if}}
  </div>
</div>
