
<div class="ui comments">
  {{#each tweets as |t|}}
    <div class="comment">
      <a class="avatar">
        <img src="{{t.user.avatar}}">
      </a>
      <div class="content">
        <a class="author" href="/api/tweets/{{t.user._id}}">{{t.user.firstName}} {{t.user.lastName}}</a>
        <div class="metadata">
          <span class="date">{{t.fdate}}</span>
        </div>
        {{#if t.image}}
          <div class="text">
            <img src={{t.image}} class="ui bordered image medium" name="image">
          </div>
        {{/if}}
        <div class="text">
          {{t.message}}
        </div>
        {{#if t.deletable}}
          <div class="actions">
            <a href="/api/tweets/delete/{{../mainmenuid}}/{{t._id}}">Delete</a>
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
