
<div class="ui comments">
  {{#each tweets}}
    <div class="comment">
      <a class="avatar">
        <img src="{{user.avatar}}">
      </a>
      <div class="content">
        <a class="author">{{user.firstName}} {{user.lastName}}</a>
        <div class="metadata">
          <span class="date">{{fdate}}</span>
        </div>
        {{#if image}}
          <div class="text">
            <img src={{image}} class="ui bordered image medium" name="image">
          </div>
        {{/if}}
        <div class="text">
          {{message}}
        </div>
        {{#if deletable}}
          <div class="actions">
            <a href="/api/tweets/delete/{{_id}}">Delete</a>
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
